<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = "/"></ion-back-button>
    </ion-buttons>
    <ion-title>Botões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Padrão</p>
  <ion-button>Default</ion-button>

  <p>Link</p>
  <ion-button href="#">Anchor</ion-button>  

  <p>Cores</p>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <p>Expand</p>

  <ion-button expand="full">FullButton</ion-button>
  <ion-button expand="block">BlockButton</ion-button>

  <p>Round</p>
  <ion-button shape="round">RoundButton</ion-button>

  <p>Fill</p>
  <ion-button expand="full"fill="outline">Outline+Full</ion-button>
  <ion-button expand="block"fill="outline">Outline+Block</ion-button>
  <ion-button shape="round"fill="outline">Outline+Round</ion-button>

  <p>Icones</p>
  <ion-button>
    <ion-icon slot="start"name="star"></ion-icon>
    Left Icon
  </ion-button>

  <p>Icones</p>
  <ion-button>
    <ion-icon slot="end"name="star"></ion-icon>
    Right Icon
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only"name="star"></ion-icon>
  </ion-button>

  <p>Tamanhos</p>
  <ion-button size="large">Large</ion-button>
  <ion-button>Default</ion-button>
  <ion-button size="small">Small</ion-button>

  <p>Documentação</p>
  <ion-button href="https://ionicframework.com/docs/api/button"target="_blank"color="danger">Documentação</ion-button>

</ion-content>
